@charset "utf-8";

body{
 right: 0; bottom: 0;
 left: 0;
}

.main_bar{
    width: 100%;
    height: 800px;
    background-image: url(../images/home.jpg);
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.small_bar{
    height: 350px;
    background-image: url(../images/sub8.png);
    background-size: 100%;
	background-repeat: no-repeat;
   
}

.main_nav_bar a:hover{
    color: gray;
    -webkit-transition: color 0.6s linear;
}

#back{
    margin-right: 20%;
    margin-left: 20%;  
}

#back:hover{
    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
        
}

.main_bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 42px;
}

.main_bar li {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.main_bar a {
    width: 8%;
    margin-top: 50px;
    font-size:14px;
    float: left;
    display: block;
    height: 42px;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    color: white;
    

}



.main_bar_title_1{
    clear: both;
    text-align: center;
    font-size: 60px;
    display: block;
    padding-top: 100px;
    font-family: 'Playfair Display', serif;
}

.main_title{
    font-size: 80px;
}

.main_bar_title_2{
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;

}

.main_bar_tittle_3{
    text-align: center;
    font-size: 60px;
    margin-top: 10%
}

.main_bar_tittle_4{
    text-align: center;
    font-size: 60px;
    color: white;
    padding-top: 100px;
}

#button_white{
    width: 20%;
    text-align: center;
    font-size: 20px;
    margin-left: 40%;
    margin-right: auto;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
}

#button_white:hover{
    color: black;
    background-color: white;
    border-color: white;
    -webkit-transition: color,background-color 0.6s linear;
}

.main_bar_culture,.main_bar_food,.main_bar_geography,.main_bar_contact{
    width: 100%;
    height: 700px;
}

.main_bar_culture,.main_bar_geography{
    background-color: white;
}

.main_bar_food,.main_bar_contact{
    background-color: black;
}

.main_body{
    width: 100%;
    height: 800px;
    background-color: white;
}

.content{
    width: 50%;
    margin-left: auto;
    margin-top: auto;
   
}

.form{
    margin-left: -60%;
    margin-right: 20%;
    float: left;
    
    
}

.address{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 200%;
}

.form_item:hover{
    background-color: black;
         -webkit-transition: color,background-color 0.6s linear;
}

.form_item{
   margin: 4%;
    width: 400px;
    height: 40px;
    background-color:whitesmoke;
    border-style: none;
}

.message{
    height:120px;
    vertical-align:text-top;
    vertical-align: top;
}

::-webkit-input-placeholder { 
    color:black;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

:hover::-webkit-input-placeholder{
    color: white;
}

#submit{
    width: 30%;
    height: 42px;
    line-height: 42px;
    color: white;
    background-color: lightgrey;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
    margin-left: 4%;
    margin-top: 6%;
    margin-bottom: 20px;
}


#submit:hover{
    background-color: black;
         -webkit-transition: color,background-color 0.6s linear;
}

footer{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: gray;
    color: white;
	text-align: center;
	font-size: 15px;
}

footer a{
    color: white;
}

/*This is CSS properties for contact page*/
#contact_text{
    margin-left: -20%;
    margin-top: 15%;
    height: 200px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}

.location{
    margin-left: -23px;
}