@charset "utf-8";

body{
 right: 0; bottom: 0;
 left: 0;
}

.main_bar{
    width: 100%;
    height: 800px;
    background-image: url(../images/home.jpg);
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.small_bar{
    height: 350px;
    background-image: url(../images/sub8.png);
    background-size: 100%;
	background-repeat: no-repeat;
   
}

.main_nav_bar a:hover{
    color: gray;
    -webkit-transition: color 0.6s linear;
}

#back{
    margin-right: 20%;
    margin-left: 20%;  
}

#back:hover{
    opacity: 0.5;
    -webkit-transition: opacity 0.6s linear;
}

.main_bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 42px;
}

.main_bar li {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.main_bar a {
    width: 8%;
    margin-top: 50px;
    font-size:14px;
    float: left;
    display: block;
    height: 42px;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    color: white;
    

}



.main_bar_title_1{
    clear: both;
    text-align: center;
    font-size: 60px;
    display: block;
    padding-top: 100px;
    font-family: 'Playfair Display', serif;
}


.main_title{
    font-size: 80px;
}

.main_bar_title_2{
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;

}

.main_bar_tittle_3{
    text-align: center;
    font-size: 60px;
    margin-top: 10%
}

.main_bar_tittle_4{
    text-align: center;
    font-size: 60px;
    color: white;
    padding-top: 100px;
}

.button_white{
    width: 10%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 45%;
    margin-right: auto;
    border: 2px solid;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
}

.button_white:hover{
    color: black;
    background-color: white;
    border-color: white;
    -webkit-transition: color,background-color 0.6s linear;
}

.main_bar_culture{
    width: 100%;
    height: 700px;
}

.main_bar_culture{
    background-color: white;
}

.main_bar_geography{
    clear: both;
    width:100%;
    height:400px;
    background-image: url(../images/sub9.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.home_geography_content{
        width:100%;
        height:400px;
}

.main_body{
    width: 100%;
    height: 800px;
    background-color: white;
}

.content{
    width: 50%;
    margin-left: auto;
    margin-top: auto;
   
}

footer{
    clear: both;
    width: 100%;
    height: 500px;
    background-image: url(/images/bcg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
	font-size: 15px;
}

footer a{
    color: white;
}

.footer_content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#foot_logo{
   width: 20%;
}

#foot_back{
    width: 20%;
}
